.ref {
	text-decoration: none
}
a {
	color: black;
}
body {
	color: white;
	background-color: ivory;
	/*margin: 10px 100px 100px 100px;*/
	margin:0 auto;
}
#app {
	width: 360px;
	height: 680px;
	/*width: 100%;height: 100px;*/
    /*background: url(../img/fone.jpg);*/
    background: url(../img/body.jpg);
}
#begin {
	width: 60px;
	height: 60px;
}
.titl {
	border: 3px;
	margin-left: 11px;
}
#butstart {
	width: 60px;
}

.github {
  border: 0;
  height: 600px;
  width: 350px;
}
/*h1{
	top: 20px;
	font-family: LegendeC, GothicE;
	font-family:  GothicE;
}*/
