.btn {
	margin-left: 100px;
	height: 50px;
    width: 50px;
}
.metro-wrapper{
	color: white;
	font-family: Arial;
}
.hidden{
	display:none;
}
.labtemp {
	margin-top: 150px;
    margin-left: 250px;
}
#tempwrite, #temp{
	margin-top: 20px;
	width: 150px;
	margin-left: 110px;
}
button {
	font-size: 0;
	padding: 0;
}