.start-wrapper
  .titl
    %img#metronome{alt = 'Метроном' src = 'img/metronome.jpg' width = 67px }  
    %img#tuner{alt = 'Тюнер' src = 'img/tuner.jpg' width = 67x }
    %img#three{alt = 'Метроном' src = 'img/metronome.jpg' width = 67px }
    %img#four{alt = 'Метроном' src = 'img/metronome.jpg' width = 67px }
    %img#five{alt = 'Метроном' src = 'img/metronome.jpg' width = 67px } 
  #tab
