.start-wrapper
  .titl
    %button#metronome
      %img#butstart{alt = 'Метроном' src = 'img/metronome.svg'}  
    %button#test
      %img#butstart{alt = 'Тест' src = 'img/test.svg'}
    %button#git
      %img#butstart{alt = 'Гид' src = 'img/git.svg'}
    %button#four
      %img#butstart{alt = 'Метроном' src = 'img/test.svg'}
    %button#five
      %img#butstart{alt = 'Метроном' src = 'img/test.svg'}
  #tab
