.start-wrapper
  .titl
    %submit#metronome
      %img#butstart{alt = 'Метроном' src = 'img/metronome.svg'}  
    %submit#test
      %img#butstart{alt = 'Тест' src = 'img/test.svg'}
    %submit#git
      %img#butstart{alt = 'Гид' src = 'img/git.svg'}
    %submit#four
      %img#butstart{alt = 'Метроном' src = 'img/test.svg'}
    %submit#five
      %img#butstart{alt = 'Метроном' src = 'img/test.svg'}
  #tab
