.start-wrapper
  .titl
    %button#metronome
      %img{alt = 'Метроном' src = 'img/metronome.jpg' width = 60px }  
    %button#tuner
      %img{alt = 'Тюнер' src = 'img/tuner.jpg' width = 60x }
    %button#gmetronome
      %img{alt = 'Метроном' src = 'img/git.svg' width = 60px }
    %button#four
      %img{alt = 'Метроном' src = 'img/tuner.jpg' width = 60px }
    %button#five
      %img{alt = 'Метроном' src = 'img/metronome.jpg' width = 60px }
  #tab
